@use '../../../styles/variables' as *;

.project-detail-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .project-modal-story-header {
    img{
      margin-top: 2rem;
    }
  }

  .project-modal-detail-section {

    ul {
      li {
        color: $text-muted;
      }
    }
  }

  .highlight-box {

    .feature-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      margin-top: 2rem;
      .feature-item {
        strong {
          color: $accent-green;
          display: block;
          margin-bottom: 0.5rem;
        }
        span {
          font-size: 0.9rem;
          opacity: 0.6;
        }
      }
    }
  }

  .results-stats {
    display: flex;
    gap: 4rem;
    margin-top: 3rem;
    .stat {
      .number {
        font-size: 3rem;
        font-weight: 900;
        color: $accent-green;
        font-family: $font-heading;
        display: block;
      }
      .label {
        font-size: 0.75rem;
        text-transform: uppercase;
        opacity: 0.5;
      }
    }
  }
}
