<div class="project-info-sidebar">

  <nav class="summary-nav">
    <ul>
      <!-- Sections dynamiques -->
      @for (section of data()?.sections; track section.id) {
        <li>
          <button (click)="scrollTo(section.id)">
            <span class="dot"></span>
            {{ section.label }}
          </button>
        </li>
      }
    </ul>
  </nav>

  <!-- Résultats clés -->
  <div class="key-results-wrapper">
    <h3 class="key-results-title">Résultats clés</h3>

    <div class="key-results-sidebar">
      @for (result of data()?.keyResults; track $index) {
        <div class="key-stat">

          <!-- Affichage du chiffre si présent -->
          @if (result.value) {
            <span class="stat-value">{{ result.value }}</span>
          }

          <!-- Affichage de l'icône si présent et pas de value -->
          @if (result.icon && !result.value) {
            <fa-icon [icon]="result.icon | toFaIcon" class="key-icon"></fa-icon>
          }

          <span class="key-label">{{ result.label }}</span>
        </div>
      }
    </div>
  </div>
</div>