@use '../../../../../styles/variables' as *;

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $spacing-3xl; // Important pour empiler Hero + Works
  align-items: center;
  overflow-x: hidden; // Empêche le scroll horizontal des vagues
  padding-top: 15rem;

  &__bg {
    position: absolute;
    inset: 0;
    z-index: 5;
    pointer-events: none;

    // Grille subtile en fond (comme sur ta photo)
    .grid-pattern {
      position: absolute;
      inset: 0;
      background-image:
        linear-gradient(rgba($light-cream, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba($light-cream, 0.03) 1px, transparent 1px);
      background-size: 40px 40px;
      -webkit-mask-image: radial-gradient(circle at center, black 40%, transparent 80%);
      mask-image: radial-gradient(circle at center, black 40%, transparent 80%);
    }

    // Effet de lumière (Glow)
    .glow-effect {
      position: absolute;
      width: 300px;
      height: 600px;
      border-radius: 50%;
      filter: blur(60px); // Le flou qui crée l'ambiance
      //opacity: 0; // Géré par GSAP
      top: -200px;
    }

    .glow-left {
      left: 0;
      transform: rotate(-45deg);
      background: radial-gradient(circle, rgba($accent-green, 0.5) 0%, transparent 90%);
    }

    .glow-right {
      top: -60%;
      transform: translateY(50%);
      right: -150px;
      background: radial-gradient(circle, rgba(rgba(86, 6, 98, 0.568), 0.4) 0%, transparent 70%);
    }
  }

  // --- CONTENU ---
  &__container {
    position: relative; // Passe au dessus du fond
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-xl;
    z-index: 2;
  }

  // --- TYPOGRAPHIE ---
  &__title {
    max-width: 720px;
    // La taille est gérée responsive dans styles.scss (h1),
    // mais on peut forcer un peu plus grand ici si besoin
    line-height: 1;
    letter-spacing: -1px;
    font-weight: 500;
    font-size: 3.3rem;

    .text-gradient {
      color: $dark-quaternary;
    }
  }

  &__description {
    max-width: 550px;
    margin: 0 auto;
    font-size: 1.05rem;
    color: $text-muted;
    font-weight: 300;

    strong {
      color: $light-cream;
      font-weight: 400;
    }
  }

  // --- BOUTONS ---
  &__actions {
    display: flex;
    gap: $spacing-lg;
    margin-top: $spacing-lg;
    flex-wrap: wrap;
    justify-content: center;
  }
}
