<!-- CAS : LIEN -->
<a *ngIf="link(); else actionBtn"
   class="btn"
   [ngClass]="['btn--' + preset(), 'btn--' + variant()]"
   [style]="dynamicStyles()"
   [href]="isExternal() ? link() : null"
   [routerLink]="!isExternal() && !link()?.startsWith('#') ? link() : null"
   [target]="isExternal() ? '_blank' : '_self'"
   (click)="handleClick($event)"
   (mouseenter)="onMouseEnter($event)"
   (mouseleave)="onMouseLeave($event)">
   
   <span class="btn__content">
     {{ text() }}
     <i *ngIf="icon()" [class]="icon()"></i>
   </span>
</a>

<!-- CAS : BOUTON -->
<ng-template #actionBtn>
  <button class="btn"
          [ngClass]="['btn--' + preset(), 'btn--' + variant()]"
          [style]="dynamicStyles()"
          (mouseenter)="onMouseEnter($event)"
          (mouseleave)="onMouseLeave($event)">
          
    <span class="btn__content">
      {{ text() }}
      <i *ngIf="icon()" [class]="icon()"></i>
    </span>
  </button>
</ng-template>